{{#data}}
<div class="align">
   <h2><a href="#page/{{id}}">{{title}}</a></h2>
 <img class="img" src="{{image}}" alt="{{title}}" />
 <p>{{content}}</p>
</div>
{{/data}}

{{^data}}
No pages :(
{{/data}}
