.menu .menu--items .menu--item {

}

.menu--items {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #ccc;
}

.menu--item {
  margin: 10px;
  display: inline-block;
}
.align {
  padding: 10px;
  position:relative;
  width: 50%;
  float:left;
}
.img {
  width:50%;
  float:left;
}

@media (max-width: 640px) {
  .align{
    width:100%
  }
}
